/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/*
Colors used

Text-color-main: pink
Text-color-texts: white
Text-color-links: #0acdff
Text-color-active-link: #489c79
Background-color: #333570
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Background Animation*/
.css-selector {
  background: linear-gradient(309deg, #00439f, #000000, #00426e 100%);
    -webkit-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}

html {
  height:100%;
  margin: 10px;
  background: white;
}

body {
  margin:0;
}


body {
  padding: 2% 10%;
  font-family: 'Jura', Sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  -webkit-animation-name: opacity-fx;
  animation-name: opacity-fx;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.meet-app {
  width: 100%;
}

.work-link-yellow {
  color: yellow;
}

/* Opacity FX on P elementes */
@-webkit-keyframes opacity-fx {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-fx {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

ul {
  padding-left: 0;
  text-align: center;
  list-style-type: none;
}

h1 {
  padding-left: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

h2 {
  color: white;
  text-align: center;
}

p {
  line-height: 1.4;
  color: white;
  animation: fadein 2s;
}

/* Fade in Animation on P elements */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: #0acdff;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

.indexIntro {
  text-align: center;
}


/* Navigation bar */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

a.navigation-list__item {
  font-size: 18px;
}

a.navigation-list__item--active {
  font-size: 18px;
  text-shadow: 1px 1px pink;
}

.navigation-list__item--active {
  text-decoration: none;
}

nav.page-header__item a::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 10px;
  height: 2px;
  background: white;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav.page-header__item a::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 10px;
  height: 2px;
  background: white;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav.page-header__item a::before {
  top: auto;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

nav.page-header__item a::after {
  bottom: auto;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

nav.page-header__item a:hover::before,
nav.page-header__item a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

img.page-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 20%;
}

.page-header__item li {
  display: inline-block;
  margin-left: 15px;
}

/* Home text details */
span {
  font-weight: bolder;
}

span:hover {
  background-color: green;
}

.profile_picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  width: 200vh;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

.profile_picture:hover {
  -webkit-transform: scaleY(1.1) scaleX(1.1);
  transform: scaleY(1.1) scaleX(1.1);
}

.profile {
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100px;
  flex: 1 1 100px;
}

/* Intro Animation Name + Logo */
* {
  position: relative;
  box-sizing: border-box;
}

.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}

#app {
  z-index: 100;
}

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  height: 80vh;
  width: 100%;
  color: grey;
}

.title {
  grid-column: 1/-1;
  margin-left: -5vh;
  grid-row: 1;
  font-size: 5vh;
  width: 100%;
  z-index: 2;
}
.title > .title-inner {
  display: inline-block;
}

@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}
@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}
@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}
.nicolas,
.partearroyo {
  -webkit-animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  -webkit-animation: inner-left 1s 1s ease both;
          animation: inner-left 1s 1s ease both;
}

.nicolas-inner {
  display: inline-block;
  -webkit-animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.partearroyo-inner {
  -webkit-animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  -webkit-animation: outer-left 1s 1s ease both;
          animation: outer-left 1s 1s ease both;
}

.nicolas > .nicolas-inner {
  display: inline-block;
}

.partearroyo {
  display: inline-block;
}

.image {
  grid-row: 1;
  grid-column: 2;
  margin-left: -2rem;
  opacity: 0.9;
  -webkit-animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
          animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
@-webkit-keyframes image-in {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes image-in {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.image img {
  display: block;
  width: 100%;
  height: auto;

}

/* Technology Stack icons */

.stackIcons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 10%;
  margin-right: auto;
}

img.icons {
    width: 50px;
    margin: 1vh;
  }

/* Check some of my code animation */

.code {
  padding: 10px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.code:hover {
  -webkit-transform: scaleY(1.5) scaleX(1.5);
  transform: scaleY(1.5) scaleX(1.5);
}

/* Pages headliners */
.about {
  text-align: center;
}

.work {
  text-align: center;
}

.contact {
  text-align: center;
}

/* Experience table */
table {
  color: white;
  width: 100%;
  text-align: center;
}

form {
  padding: 10px;
  text-align: center;
}

.story {
  padding: 10px;
}

/* Download my CV */
.button_cv {
  text-align: center;
  margin: 2vh
}

a.button {
  color: white;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #489c79;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s font-size, 0.5s background-color;
  transition: 0.4s font-size, 0.5s background-color;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #489c79;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s font-size, 0.5s background-color;
  transition: 0.4s font-size, 0.5s background-color;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  font-size: 20px;
  background-color: #e0b354;
}



.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    padding: 7px 35px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

/* Work tables */
.grid {
  margin: 20px;
  text-align: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid__item {
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
  opacity: 95%

}

.grid__item:hover {
  opacity: 100%
}

.grid__item:last-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 1;
}

/* Smartphones configuration */

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto;
    grid-row: auto;
  }

  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 750px) {
  body {

    padding: 0;
  }

  ul {
    text-align: center;
  }

.indexIntro {
  padding-left: 3vh;
  padding-right: 3vh;

}

  .page-header {
    display: flow-root;
  }

  .profile_picture {
    float: none;
  }

  .svg-berlin {
    display: none;
  }

  .title {
    margin-left: 1vh;
  }

  .stackIcons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 35%;

  }
}

/* Find me on */
footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.social-media-logo {
  text-decoration: none;
}

.social-media {
font-weight: bold;
}

img.github,
img.linkedin,
img.soundcloud {
  width: 30px;
  padding-bottom: 15px;
}


.error-message {
  color: red;
  padding-top: 20px;
}
