/*
Colors used

Text-color-main: pink
Text-color-texts: white
Text-color-links: #0acdff
Text-color-active-link: #489c79
Background-color: #333570
*/

:root {
  --primary-color: pink;
  --text-color: white;
  --alternative-color: #0acdff;
  --active-color: #489c79;
  --header-color: #333570;
  --background-color: #3f4190;
}

* {
  box-sizing: border-box;
}

.background {
  background-color: var(--background-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

body {
  padding: 2% 10%;
  font-family: 'Jura', Sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  animation-name: opacity-fx;
  animation-duration: 1s;
}

@keyframes opacity-fx {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

ul {
  padding-left: 0;
  text-align: right;
  list-style-type: none;
}

h1 {
  padding-left: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: var(--primary-color);
}

h2 {
  color: var(--primary-color);
  text-align: center;
}

p {
  padding-left: 20px;
  line-height: 1.4;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: var(--alternative-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--active-color);
}

/* Navigation bar */
.page-header {
  display: flex;
  margin: auto;
  padding: 20px;
  max-width: 100%;
  border-bottom: 1px solid white;
  background-color: var(--header-color);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

a.navigation-list__item {
  font-size: 18px;
}

a.navigation-list__item--active {
  font-size: 18px;
  text-shadow: 1px 1px pink;
}

.navigation-list__item--active {
  text-decoration: none;
}

nav.page-header__item a::before,
nav.page-header__item a::after {
  display: flex;
  position: absolute;
  width: 10px;
  height: 2px;
  background: var(--text-color);
  content: "";
  opacity: 0;
  transition: all 0.4s;
}

nav.page-header__item a::before {
  top: auto;
  transform: translateX(100px);
}

nav.page-header__item a::after {
  bottom: auto;
  transform: translateX(30px);
}

nav.page-header__item a:hover::before,
nav.page-header__item a:hover::after {
  opacity: 1;
  transform: translateX(0);
}

img.page-header__item {
  display: flex;
  min-width: 20%;
}

.page-header__item li {
  display: inline-block;
  margin-left: 15px;
}

/* Home content */
span {
  font-weight: bolder;
}

span:hover {
  background: var(--primary-color);
}

.profile_picture {
  float: left;
  margin-right: 20px;
  margin-left: 30px;
  border-radius: 50%;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: transform 3s;
}

.profile_picture:hover {
  transform: scaleY(1.1) scaleX(1.1);
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  flex: 1 1 100px;
}

/* Check some of my code animation */

.code {
  padding: 10px;
  transition: transform 2s;
}

.code:hover {
  transform: scaleY(1.5) scaleX(1.5);
}

/* Pages headliners */
.about {
  text-align: center;
}

.work {
  text-align: center;
}

.contact {
  text-align: center;
}

/* Experience table */
table {
  color: var(--text-color);
  width: 100%;
  text-align: center;
}

form {
  padding: 10px;
  text-align: center;
}

.story {
  padding: 10px;
}

/* Download my CV */
.button_cv {
  text-align: center;
}

a.button {
  color: white;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--active-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.4s font-size, 0.5s background-color;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  font-size: 25px;
  background-color: #e0b354;
}

/* SVG Animation */
.svg-berlin {
  text-align: center;
}

@keyframes color-change {
  from {
    fill: lightblue;
  }

  to {
    fill: yellow;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes color-change2 {
  from {
    fill: white;
  }

  to {
    fill: grey;
  }
}

.berlin-ball {
  animation: 1s color-change2 infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 40s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 60s cloud-move-reverse infinite alternate linear;
}

/* Contact Form */
.standard-label {
  display: block;
  color: var(--text-color);
}

.contact-details {
  color: var(--primary-color);
  text-align: center;
}

#contact-name {
  margin: 10px;
  width: 100%;
  border-radius: 10px;
}

#contact-email {
  margin: 10px;
  width: 100%;
  border-radius: 10px;
}

#contact-phone {
  margin: 10px;
  width: 100%;
  border-radius: 10px;
}

#contact-message {
  margin: 10px;
  width: 100%;
  border-radius: 10px;
}

#contact-form {
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #015088;
}

#contact-button {
  background-color: #00c5be;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: normal;
  transition: 0.9s opacity, 0.4s font-size, 0.5s background-color;
}

#contact-button:hover {
  cursor: pointer;
  font-size: 25px;
  background-color: #e0b354;
}

/* Work tables */
.grid {
  margin: 20px;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid__item {
  background-color: grey;
  padding: 20px;
}

.grid__item:last-child {
  grid-row: 1 / 3;
}

/* Smartphones configuration */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto;
    grid-row: auto;
  }

  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 750px) {
  body {
    padding: 0;
  }

  ul {
    text-align: center;
  }

  .page-header {
    display: flow-root;
  }

  .profile_picture {
    float: none;
  }

  .svg-berlin {
    display: none;
  }
}

/* Find me on */
footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media-logo {
  text-decoration: none;
}

img.github,
img.soundcloud,
img.linkedin {
  width: 30px;
  padding-bottom: 15px;
}
