/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/*
Colors used

Text-color-main: pink
Text-color-texts: white
Text-color-links: #0acdff
Text-color-active-link: #489c79
Background-color: #333570
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Background Animation*/
.css-selector {
  background: linear-gradient(309deg, #00439f, #000000);
  background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}

html {
  height:100%;
}

body {
  margin:0;
}


body {
  padding: 2% 10%;
  font-family: 'Jura', Sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background: linear-gradient(45deg, yellow 25%, black 25%);
  -webkit-animation-name: opacity-fx;
  animation-name: opacity-fx;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.NP-logo {
  max-width: 40%;
  min-width: 50%;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.meet-app {
  width: 100%;
}

.logo {
  padding-left: 15px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.work-link-yellow {
  color: yellow;
}


@-webkit-keyframes opacity-fx {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity-fx {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

ul {
  padding-left: 0;
  text-align: center;
  list-style-type: none;
}

h1 {
  padding-left: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}

h2 {
  color: white;
  text-align: center;
}

p {
  line-height: 1.4;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: #0acdff;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

.indexIntro {
  text-align: center;
}

/* Navigation bar */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

a.navigation-list__item {
  font-size: 18px;
}

a.navigation-list__item--active {
  font-size: 18px;
  text-shadow: 1px 1px pink;
}

.navigation-list__item--active {
  text-decoration: none;
}

nav.page-header__item a::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 10px;
  height: 2px;
  background: white;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav.page-header__item a::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 10px;
  height: 2px;
  background: white;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav.page-header__item a::before {
  top: auto;
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}

nav.page-header__item a::after {
  bottom: auto;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

nav.page-header__item a:hover::before,
nav.page-header__item a:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

img.page-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 20%;
}

.page-header__item li {
  display: inline-block;
  margin-left: 15px;
}

/* Home content */
span {
  font-weight: bolder;
}

span:hover {
  background: pink;
}

.profile_picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 250px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

.profile_picture:hover {
  -webkit-transform: scaleY(1.1) scaleX(1.1);
  transform: scaleY(1.1) scaleX(1.1);
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100px;
  flex: 1 1 100px;
}

/* Technology Stack icons */

.stackIcons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

img.icons {
    width: 80px;
    margin: 15px
}

/* Check some of my code animation */

.code {
  padding: 10px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.code:hover {
  -webkit-transform: scaleY(1.5) scaleX(1.5);
  transform: scaleY(1.5) scaleX(1.5);
}

/* Pages headliners */
.about {
  text-align: center;
}

.work {
  text-align: center;
}

.contact {
  text-align: center;
}

/* Experience table */
table {
  color: white;
  width: 100%;
  text-align: center;
}

form {
  padding: 10px;
  text-align: center;
}

.story {
  padding: 10px;
}

/* Download my CV */
.button_cv {
  text-align: center;
}

a.button {
  color: white;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #489c79;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s font-size, 0.5s background-color;
  transition: 0.4s font-size, 0.5s background-color;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #489c79;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s font-size, 0.5s background-color;
  transition: 0.4s font-size, 0.5s background-color;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  font-size: 20px;
  background-color: #e0b354;
}

/* Contact Form */
.standard-label {
  display: block;
  color: white;
}

.contact-details {
  color: pink;
  text-align: center;
}

#contact-name {
  margin: 10px;
  width: 100%;
  border-radius: 5px;
}

#contact-email {
  margin: 10px;
  width: 100%;
  border-radius: 5px;
}

#contact-phone {
  margin: 10px;
  width: 100%;
  border-radius: 5px;
}

#contact-message {
  margin: 10px;
  width: 100%;
  border-radius: 5px;
}

#contact-form {
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
  padding: 20px;
}

#contact-button {
  background-color: #00c5be;
  border: none;
  color: #fff;
  font-size: 1em;
  margin-top: 10px;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-transition: 0.9s opacity, 0.4s font-size, 0.5s background-color;
  transition: 0.9s opacity, 0.4s font-size, 0.5s background-color;
}

#contact-button:hover {
  cursor: pointer;
  font-size: 20px;
  background-color: #e0b354;
}

.error-message {
  color: red;
  font-weight: bold;
}

/* Work tables */
.grid {
  margin: 20px;
  text-align: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid__item {
  background-color: grey;
  padding: 20px;
  border-radius: 10px;
}

.grid__item:hover {
opacity: 90%
}

.grid__item:last-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 1;
}

/* Smartphones configuration */

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto;
    grid-row: auto;
  }

  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 750px) {
  body {
    padding: 0;
  }

  ul {
    text-align: center;
  }

  .page-header {
    display: flow-root;
  }

  .profile_picture {
    float: none;
  }

  .svg-berlin {
    display: none;
  }
}

/* Find me on */
footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.social-media-logo {
  text-decoration: none;
}

img.github,
img.linkedin {
  width: 30px;
  padding-bottom: 15px;
}
